<!DOCTYPE html>
<html lang="en">
    <head>
      {{- partial "head.html" . -}}
      {{- partial "css.html" . -}}
    </head>
    <body class="material-template">
      {{- partial "preloader.html" . -}}

      <div id="page" class="page">
        {{- partial "header.html" . -}}

        <div id="main" class="site-main">
          <div class="pt-wrapper">
            <div class="subpages">
              {{- block "main" . }}{{- end }}
            </div>
          </div>
        </div>

      </div>
      
      {{- partial "footer.html" . -}}
      {{- partial "js.html" . -}}
    </body>
</html>
