/* Blog role fixes */

div.blog-title>div>h2 {
}

div.blog-title-separator>div>hr {
	margin-top: 0;
	margin-bottom: 10px;
}

div.blog-assets>div {
	margin-bottom: 6px;
	color: #777;
}

@media (min-width: 479px) {	
	div.blog-assets {
		display: inline-block;
		padding-right: 10px
	}
}

/* Journal role fixes */

div.journal-title>div>h2 {
}

div.journal-title-separator>div>hr {
	margin-top: 0;
	margin-bottom: 10px;
}

div.journal-assets>div {
	margin-bottom: 6px;
	color: #777;
}

@media (min-width: 479px) {	
	div.journal-assets {
		display: inline-block;
		padding-right: 10px
	}

	nav#lektor-navbar {
		border-radius: 0!important;
	}
}

