/* --------------------------------------- */
/* Blog role fixes */
/* --------------------------------------- */

div.blog-title>div>h2 {
}

div.blog-title-separator>div>hr {
	margin-top: 0;
	margin-bottom: 10px;
}

div.blog-assets>div {
	margin-bottom: 6px;
	color: #777;
}

@media (min-width: 479px) {	
	div.blog-assets {
		display: inline-block;
		padding-right: 10px
	}

	nav#lektor-navbar {
		border-radius: 0!important;
	}
}

div.blog-content img {
	display: inline-block;
	max-width: 100%;
	height: auto;
	padding: 4px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
/* --------------------------------------- */

/* --------------------------------------- */
/* Journal role fixes */
/* --------------------------------------- */

div.journal-title>div>h2 {
}

div.journal-title-separator>div>hr {
	margin-top: 0;
	margin-bottom: 10px;
}

div.journal-assets>div {
	margin-bottom: 6px;
	color: #777;
}

@media (min-width: 479px) {	
	div.journal-assets {
		display: inline-block;
		padding-right: 10px
	}

	nav#lektor-navbar {
		border-radius: 0!important;
	}
}

div.journal-content img {
	display: inline-block;
	max-width: 100%;
	height: auto;
	padding: 4px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
/* --------------------------------------- */

pre {
	padding: 0!important;
}
