{{ define "main" }}
<section class="pt-page pt-page-current">
  <div class="section-inner start-page-content">
    <div class="page-header">
      <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
          <div class="photo">
            <img src="images/photo.png" alt="">
          </div>
        </div>

        <div class="col-sm-8 col-md-8 col-lg-8">
          <div class="title-block">
            <h1>Khamidulla Inoyatov</h1>
            <div class="owl-carousel text-rotation">
              <div class="item">
                <div class="sp-subtitle">Software Developer</div>
              </div>
              <div class="item">
                <div class="sp-subtitle">Fullstack-developer</div>
              </div>
            </div>
          </div>

          <div class="social-links">
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-telegram"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="page-content">
      <div class="row">

        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="about-me">
            <div class="block-title">
              <h3>About <span>Me</span></h3>
            </div>
            <p>Hello! I’m Alex Smith. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fermentum ullamcorper sem, at placerat dolor volutpat ac. Duis nulla enim, condimentum nec ultricies.</p>
          </div>
          <div class="download-resume">
            <a href="" class="btn btn-secondary">Download Resume</a>
          </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6">
          <ul class="info-list">

            <li><span class="title">Age</span><span class="value">33</span></li>
            <li><span class="title">Residence</span><span class="value">South Korea</span></li>
            <li><span class="title">Address</span><span class="value">Seongnam, South Korea</span></li>
            <li><span class="title">e-mail</span><span class="value"><a href="mailto:khamidulla@inoyatov.com">khamidulla@inoyatov.com</a></span></li>
            <li><span class="title">Phone</span><span class="value">(on request)</span></li>
            <li><span class="title">Freelance</span><span class="value available">Available</span></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>
{{ end }}
